/* font-family: 'Montserrat', sans-serif; font-family: 'Raleway', sans-serif;*/
*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
.top_header{
    display: flex;
    background-color: #efefef;
    padding: 10px 0;
}
.top_header_content{
    display: flex;
    align-items: center;
}
.top_header h4{
    font-size: 12px;
    color: #7f7f7f;
    font-family: 'Montserrat', sans-serif;
}
.top_header ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.top_header ul li{
    list-style: none;
}
.top_header ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7f7f7f;
    font-family: 'Montserrat', sans-serif;
}
.top_header ul li a:hover{
   color: #e28711;
}                         

/* top header end */

.navbar .nav-item .nav-link{
    margin: 0;
    padding: 0;
    margin: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    color: #222121;
    margin-left: 15px;
    text-transform: uppercase;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
.navbar .nav-item .nav-link:hover{  
    color: #e28711;
}
.navbar .navbar-nav .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background-color: #ff9b1a;
    transition: .3s all ease-in-out;
}
.navbar .navbar-nav .nav-link:hover::before{
    width: 47%;
}
.navbar .navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background-color: #ff9b1a;
    transition: .3s all ease-in-out;
}
.navbar .navbar-nav .nav-link:hover::after{
    width: 47%;
}
.header_btn{
    margin: 0;
    padding: 0;
    background-color: #ff9b1a;
    text-transform: uppercase;
    transition: .4s all ease-in-out;
    font-size: 12px;
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
    font-family: 'Montserrat', sans-serif;
}
.banner_btn_1, .banner_btn_2,  .menu_btn, .bitcoin_btn{
    margin: 0;
    padding: 0;
    background-color: #ff9b1a;
    text-transform: uppercase;
    transition: .4s all ease-in-out;
    font-size: 14px;
    color: white;
    border-radius: 30px;
    padding: 8px 20px;
    font-family: 'Montserrat', sans-serif;
}
.header_btn, .banner_btn_1, .banner_btn_2,  .menu_btn, .bitcoin_btn:focus{
    box-shadow: none !important;
}
.banner_btn_1 {
    margin-right: 10px;
    padding: 8px 20px;
}
.banner_btn_1:hover{
    color: white;
    background: #ca7a11;
    border:  1px solid #ca7a11;
}
.banner_btn_2{
    background: transparent;
    border:  1px solid #ff9b1a;
}
.banner_btn_2:hover{
    background-color: #ff9b1a;
    color: white;
}
.animate{
    color: #ff9b1a;
}
.header_btn:hover{
    color: white;
    background-color: #ca7a11;
}
.menu_btn{
    display: none;
}

/* header end */

.banner{
    background-image: url("../img/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    z-index: 1;
}
.banner::before{
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.banner_row{
    min-height: 80vh;
}
.banner_row h1{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-bottom: 34px;
    font-family: 'Raleway', sans-serif;
}
.million{
    display: flex;
    justify-content: space-around;
}
.first_millino h3, .second_millino h3, .third_millino h3{
    color: white;
    font-size: 18px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.first_millino p, .second_millino p, .third_millino p{
    color: white;
    font-size: 14px;
    margin: 0;
    margin-bottom: 34px;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
}
.first_millino span, .second_millino span{
    font-size: 21px;
    margin-right: 5px;
}
.third_millino span{
    font-size: 21px;
}

/* banner section end */


.seving_content{
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 45px 15px;
    position: relative;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;

}
.seving_content:hover{
    background-image: url("../img/bit_coen.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.seving_content::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: -1;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#caa106+0,df6402+100&0.85+0,0.85+100 */
    background: -moz-linear-gradient(top,  rgba(202,161,6,0.85) 0%, rgba(223,100,2,0.85) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(202,161,6,0.85) 0%,rgba(223,100,2,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(202,161,6,0.85) 0%,rgba(223,100,2,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9caa106', endColorstr='#d9df6402',GradientType=0 ); /* IE6-9 */


}
.seving_content:hover::before{
    display: inherit;
}
.seving_content i{
    color: #e28711;
    font-size: 60px;
}
.seving_content h3{
    font-size: 18px;
    font-weight: 600;
    margin: 30px 0;
    color: #545454;
    font-family: 'Montserrat', sans-serif;
}
.seving_content p{
    font-size: 16px;
    padding: 0px 10px;
    color: #545454;
    font-family: 'Montserrat', sans-serif;
}
.seving_content:hover i{
    color: white;
}
.seving_content:hover h3{
    color: white;
}
.seving_content:hover p{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* saving section end */

.coin_heading span, .contact span, .person span, .blog span, .profile span, .form span{
    display: block;
    width: 10%;
    height: 2px;
    background-color: #fb8f2c;
    margin: auto;
}
.coin_heading span, .form span, .person span, .blog span, .profile span, .section span{
    animation: animate2 1.5s infinite;
    animation-direction: alternate;
}
@keyframes animate2{
    0%{
        width: 0px;
    }
    100%{
        width: 70px;
    }
}
.coin_heading h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.coin .coin_heading p{
    font-size: 16px;
    color: #6e6e6e;
    font-family: 'Montserrat', sans-serif;
}
.coin img{
    width: 19%;
}
.coin h3{
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.coin p{
    color: #6e6e6e;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
.animate{
    color: #ff9b1a;
}
.bitcoin_btn{
    border:  1px solid;
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding: 10px 20px;
    transition: .4s all ease-in-out;
    font-family: 'Raleway', sans-serif;
}
.bitcoin_btn:hover{
    background: #e28711;
    color: #fff;
    border: 1px solid #e28711;
    
}

/* coin section end */

.section{
    background-image: url("../img/banner_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 0 0;

}
.iphone{
    width: 100%;
    height: 100%;
    position: relative;
}
.iphone img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.section h2{
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}
.section span{
    width: 50px;
    margin-top: 20px;
    height: 2px;
    background-color: #ff9b1a;
    display: block;
}
.section ul{
    margin: 0;
    padding: 0;
    padding: 20px 0;
}
.section ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.box_div{
    width: 55px;
    height: 55px;
    border: 2px solid #ff9b1a;
    border-radius: 5px;
    margin-right: 20px;
    transform: rotate(45deg);
}
.section_text{
    width: 400px;
    margin-left: 20px;
}
.section_text h6{
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.section_text p{
    color: rgb(226, 226, 226);
    font-size: 16px;
    margin: 0;
    margin-top: 15px;
    font-family: 'Raleway', sans-serif;
}

/* section end */

.count{
    background-color: #ff9b1a;
}
.count h5{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.count h6{
    margin-top: 15px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

/* count section end */

.bit_position{
    padding: 200px 0;
    position: relative;
    z-index: 0;
}
.bit_img img{
    animation: animate1 4s infinite;
    animation-direction: alternate;
}
@keyframes animate1{
    0%{
        transform: rotate(360deg);
    }
}
.safe{
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: -1;
}
.app{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    z-index: -1;
}
.walet{
    position: absolute;
    bottom: 10%;
    left: 30%;
    z-index: -1;
}
.export{
    position: absolute;
    top: 10%;
    right: 30%;
    z-index: -1;
}
.insert{
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    z-index: -1;
}
.buys{
    position: absolute;
    bottom: 10%;
    right: 30%;
    z-index: -1;
}
.safe .icon, .export .icon, .app .icon, .walet .icon, .insert .icon, .buys .icon{ 
    border: 2px solid #f05154;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    border-radius: 5px;
    margin: auto;
}
.safe .icon i, .export .icon i, .app .icon i, .walet .icon i, .insert .icon i, .buys .icon i{
    transform: rotate(-45deg);
    color: #f05154;
    font-size: 18px;
}
.safe p, .export p, .app p, .walet p, .insert p, .buys p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
} 
.export .icon, .walet .icon{
    border:  2px solid #43c5ca;
}
.export .icon i, .walet .icon i{
    color: #43c5ca;
}
.app .icon, .insert .icon{
    border:  2px solid #63cd68;
}
.app .icon i, .insert .icon i{
    color: #63cd68;
}

/* bit position section end */

.person1 img{
    width: 60%;
}
.person h2{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.person1 h5{
    margin: 0;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}
.person p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #6e6e6e;

}
.person1 h6{
    margin-top: 8px;
    color: #e28711;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* person section end */

.form{
    background-image: url("../img/banner_3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.form h4{
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;
}
.form input, .form textarea{
    background: transparent;
    font-size: 14px !important;
    color: #fff !important;
}
.form input:focus, .form textarea:focus{
    background: transparent;
    box-shadow: none;
    border-color: #e28711;
}
.form input::placeholder, .form textarea::placeholder{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.form input[type="submit"]{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #ff9b1a;
    text-transform: uppercase;
    transition: .4s all ease-in-out;
    font-size: 16px;
    color: white;
    border-radius: 30px;
    padding: 10px 40px;
    font-family: 'Montserrat', sans-serif;
}
.form form input[type="submit"]:hover{
   background: #e07e22;
}

/* form section end */

.blog h2{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.blog p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #6e6e6e;
}

.investment-section{

    border-bottom: 4px solid #FB8F2C;
    padding: 40px 10px;
}
.investment-section h1{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}
.investment-section h1::before{
    content: '';
    position: absolute;
    left: 47%;
    bottom: -20px;
    height: 2px;
    width: 0%;
    background-color: #FB8F2C;
    transition: .4s all ease-in-out;
}
.investment-section h1::after{
    content: '';
    position: absolute;
    right: 47%;
    bottom: -20px;
    height: 2px;
    width: 0%;
    background-color: #FB8F2C;
    transition: .4s all ease-in-out;
}
.investment-section:hover h1::before{
    width: 4%;
}
.investment-section:hover h1::after{
    width: 4%;
}
.investment-section p{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 14px;
    color: gray;
    width: 60%;
    margin: 50px 250px;
}
.investor-detail h5{
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    margin-top: 25px;
}
.investor-detail h6{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #F26C4F;
    text-transform: uppercase;
    margin-top: 15px;
}
.investor-detail{
    
    margin-bottom: 80px;
    margin-top: 20px;
}
.investor{
    width: 11%;
    margin: auto;
}
.investor img{
    border: 3px solid red;
    border-radius: 50%;
    overflow: hidden;
    border: none;
}
.investor .quote{

    position: relative;
}
.investor .quote i{
    
    position: absolute;     
    font-size: 20px;      
    background: #FB8F2C;     
    height: 45px;    
    width: 45px;     
    text-align: center;   
    border: 2px solid #fff;   
    border-radius: 50px;     
    color: #fff;    
    display: flex;    
    align-items: center;    
    justify-content: center;  
    left: 78px;   
    bottom: -5px;    
    transform: translate(-2px, +2px);
}
.owl-dots{
    margin-bottom: 15px; 
 
}
.owl-dot span{
    display: inline-block;
    height: 9px;
    width: 9px;
    border-radius: 50px;
    border: 1px solid #FB8F2C;
    background: transparent;
    margin:0 6px;
}
.owl-dot{
    vertical-align: revert;
}
.owl-dots .active span{
    background-color:#FB8F2C;
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    border: 1px solid #FB8F2C;
}

.footer{
    border-top: 3px solid #e28711;
    padding: 15px 0;
    background-color: #1c1c1c;
}
.footer p{
    margin-top: 30px;
    font-size: 14px;
    color: #989898;
    font-family: 'Montserrat', sans-serif;
}
.footer_main{
    display: flex;
}
.footer_icon{
    width: 40px;
    height: 40px;
    border: 1px solid #989898;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s all ease-in-out;
}
.footer_icon i{
    color: #989898;
}
.footer_icon:hover i{
    color: #00aced;
}
.footer_icon:hover{
    border: 1px solid #00aced;
}
.contact h6{
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.contact span{
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.address p{
    margin-top: 0;
    font-size: 14px;
    color: #989898;
    font-family: 'Montserrat', sans-serif;
}
.contact ul{
    margin: 0;
    padding: 0;
    padding-left: 0 !important;
}
.contact ul li{
    list-style-type: none;
    color: #989898;
    font-size: 14px;
    margin: 17px 0;
    display: flex;
    align-items: center;
}
.contact ul li a{
    text-decoration: none;
    color: #989898;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.contact ul li a:hover{
    color: #00aced;
}
.contact ul li i{
    color: #989898;
    margin-right: 10px;
    font-size: 18px;
}
.quick_link ul{
    margin-top: 30px !important;
}
.quick_link ul li{
    line-height: 0.5;
}
.contact form{
    position: relative;
}
.contact form input{
    display: block;
    background: #fff;
    color: #989898 !important;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 14px;
    padding: 10px 20px !important;
    font-family: 'Montserrat', sans-serif;
}
.contact form input:focus{
    box-shadow: none;
    border: none;
}
.contact form input::placeholder{
    color: #989898;
}
.arrow{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #e28711;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.arrow i{
   color: #fff;
}

/* footer section end */

.bottom_header{
    display: flex;
    background-color: #000000;
    padding: 15px 0;
}
.bottom_header_content{
    display: flex;
    align-items: center;
}
.bottom_header h4{
    font-size: 14px;
    color: #7f7f7f;
    font-family: 'Montserrat', sans-serif;
}
.bottom_header ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.bottom_header ul li{
    list-style: none;
}
.bottom_header ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7f7f7f;
    font-family: 'Montserrat', sans-serif;
}
.bottom_header ul li a:hover{
   color: #00aced;
}            